.recipes-element {
  &__container {
    position: relative;
    height: 190px;
    width: calc(100% - 20px);
    margin: 16px auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
  }

  &__text-container {
    background-color: #afafaf;
    opacity: 0.6;
  }

  &__text {
    border-radius: 0 0 8px 8px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    color: black;
    background-color: #f8f8f8;
    flex-direction: column;

    &--title {
      font-size: 15px;
      font-weight: bold;
    }

    &--time {
      position: absolute;
      top: 20px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      padding: 8px;
      height: 25px;
      margin: auto;
      background-color: black;
      color: white;
      font-size: 12px;
    }
  }
}
